[submodule "external/libfort"]
	path = external/libfort
	url = https://github.com/seleznevae/libfort.git
[submodule "external/termcolor"]
	path = external/termcolor
	url = https://github.com/ikalnytskyi/termcolor.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "external/shelf-pack-cpp"]
	path = external/shelf-pack-cpp
	url = https://github.com/mapbox/shelf-pack-cpp.git
[submodule "external/streamflood"]
	path = external/streamflood
	url = https://github.com/nilsbore/streamflood.git
